#theme
/devcamper_theme

#data
/_data

#md file
devcamper_specs.md
links.md

#npm packege
/devcamper_api/node_modules
devcamper_api/config/config.env
.DS_Store
devcamper_api/public/uploads/photo_5d713a66ec8f2b88b8f830b8.jpg
